.v-align {
  margin-top: 200px;
}

.btn-login {
  background-color: rgb(243, 208, 63);
}

.w-320 {
  width: 320px!important;
}

.login-button {
  border-radius: 50rem !important;
  background-color: rgb(243, 208, 63);
}

.form-control {
  border-radius: 50rem !important;
  font-size: 0.9rem;
}

